{% extends 'base.html' %}

{% block pagetitle %}
  {{ character.name }}s pets
{% endblock %}

{% block content %}
  <div class="page-title">
    <h1><a href="{% url 'character_detail' pk=character.pk %}">
        {{ character.name }}s</a> pets</h1>
  </div>

  {% for pet in pets.all  %}
    <div class="content-box-medium">
      <h3><a href="{% url 'pet_detail' pk=pet.pk %}">
          {{ pet.name }}</a></h3>
      {% include 'database/_pet_attributes.html' %}
    </div>
  {% endfor %}
{% endblock %}
