<div class="date">
  <p><b>Started on:</b> {{ campaign.start_date }}</p>
</div>
<div class="row">
    <div class="col-md-4 col-md-push-8">
        <img class="portrait img-fluid"
           src="{{ campaign.image.url }}" alt="{{ campaign.name }} image">
   </div>
   <div class="col-md-8 col-md-pull-4">
      <p><b>DM:</b> <a href="{% url 'player_detail' pk=campaign.dm.pk %}">
          {{ campaign.dm }}</a></p>
      <p><b>Players:</b>
        {% for player in campaign.players %}
          <a href="{% url 'player_detail' pk=player.pk %}">{{ player }}</a>
        {% endfor %}
      <p><b>Description:</b> {{ campaign.description|linebreaksbr }}</p>
    </div>

</div>
