<div class="class-text">
  <p>{{ pokemon.kind }}</p>
</div>
<p><b>Type:</b> {{ pokemon.type_p }}</p>
{% if pokemon.pronouns %}
  <p><b>Pronouns</b> {{ pokemon.pronouns }}</p>
{% endif %}
{% if pokemon.trainer %}
  <p><b>Trainer:</b> <a href="{% url 'character_detail' pk=pokemon.trainer.pk %}">{{ pokemon.trainer }}</a></p>
{% endif %}
{% if pokemon.nature %}
  <p><b>Nature:</b> {{ pokemon.nature }}</p>
{% endif %}
{% if pokemon.description %}
  <p><b>Description:</b> {{ pokemon.description|linebreaksbr }}</p>
{% endif %}
