{% extends 'stally/base.html' %}

{% block pagetitle %}
  About
{% endblock %}

{% block nav-about %}<strong class="nav-active">About</strong>{% endblock %}

{% block content %}
  <div class="page-title">
    <h1>About</h1>
  </div>

  <p>This website lists characters from various campaigns that are part of
    Mistakes were made, a network of role-playing games initiated by
    <a target="_blank" href="http://dallydaydream.tumblr.com/">Dally</a>.</p>
  <p>It was built by
      <a target="_blank" href="https://twitter.com/eyefox42">eyefox</a>
      using the
      <a target="_blank" href="https://www.djangoproject.com/">
          Django framework</a>.
      The source code is available on
      <a target="_blank" href="https://github.com/eyefox47/mvm.db">
          GitHub</a>.</p>

  <h2>Licensing</h2>
  <ul>
    <li>Some of the images for Pokemon are copyrighted and taken from
      <a href="http://www.pokemon.co.jp/">http://www.pokemon.co.jp/</a>
      under fair use.</li>
  </ul>
{% endblock %}
