{% load staticfiles %}
{% load tags %}

{% url 'about' as about %}
{% url 'campaign_list' as home %}

<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block pagetitle %}Dallys RGPs{% endblock %}</title>
    <link rel="stylesheet"
        href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/
              bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css"
        href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext">
    <link rel="stylesheet" href="{% static 'css/stally.css' %}">
  </head>
  <body>
    <div class="page-header">
      {% if user.is_authenticated %}
        <p class="add-content-button">
            Hello {{ user.username }}
            <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
        <a href="{% url 'npc_new' %}"
           class="add-content-button">Add NPC</a>
        <a href="{% url 'character_new' %}"
           class="add-content-button">Add Character</a>
        <a href="{% url 'pokemon_new' %}"
           class="add-content-button">Add Pokémon</a>
      {% else %}
        <a href="{% url 'login' %}" class="top-menu">
            <span class="glyphicon glyphicon-lock"></span></a>
      {% endif %}
      <h1><a href="/">Dallys RPGs</a></h1>

      <div id="navigation">
        <h4>
          <a class="{% active request home %}" href="{{ home }}">Campaigns</a>
          <a href="http://www.informatik.uni-oldenburg.de/~lucasn/stream/">
              Audio Stream</a>
          <a class="{% active request about %}" href="{{ about }}">About</a>
        </h4>
      </div>
    </div>

    <div class="content container">
        <div class="row">
          <div class="col-md-8">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
