{% extends 'stally/base.html' %}

{% block content %}
  <div class="page-title">
    <h1>Campaigns</h1>
  </div>

  {% for campaign in campaigns %}
    <div class="campaign">
      <h2><a href="{% url 'campaign_character_list' pk=campaign.pk %}">{{ campaign.name }}</a></h1>
      <div class="date">
        <p><b>Started on:</b> {{ campaign.start_date }}</p>
      </div>
      <img class="campaign-img" src="{{ campaign.image.url }}" alt="{{ campaign.name }} image">
      <p> <b>DM:</b> {{ campaign.dm }}</p>
      <p> <b>Players:</b>
        {% for player in campaign.players %}
          {{ player }}
        {% endfor %}
      <p><b>Description:</b> {{ campaign.description|linebreaksbr }}</p>
      <a href="{% url 'campaign_character_list' pk=campaign.pk %}" class="characters-link link">Characters</a>
      {% if campaign.pokemons.all %}
        <i>, </i><a href="{% url 'campaign_pokemon_list' pk=campaign.pk %}" class="pokemon-link link">Pokémon</a>
      {% endif %}
      {% if campaign.npcs.all or campaign.npc_pokemon.all %}
        <i>, </i><a href="{% url 'campaign_npc_list' pk=campaign.pk %}" class="npc-link link">NPCs</a>
      {% endif %}
    </div>
  {% endfor %}
{% endblock %}
