{% extends 'stally/base.html' %}

{% block content %}
  <div class="page-title">
    <h1>Pokemon in {{ campaign.name }}</h1>
  </div>

  {% for pokemon in pokemons  %}
    <div class="pokemon">
      <img class="pokemon-img" src="{{ pokemon.image.url }}" alt="{{ pokemon.name }} image">
      <h3>{{ pokemon.name }}</h3>
      <div class="kind">
        <p>{{ pokemon.kind }}</p>
      </div>
      <p><b>Type:</b> {{ pokemon.type_p }}</p>
      {% if pokemon.pronouns %}
        <p><b>Pronouns</b> {{ pokemon.pronouns }}</p>
      {% endif %}
      {% if pokemon.trainer %}
        <p><b>Trainer:</b> {{ pokemon.trainer }}</p>
      {% endif %}
      {% if pokemon.nature %}
        <p><b>Nature:</b> {{ pokemon.nature }}</p>
      {% endif %}
      {% if pokemon.description %}
        <p><b>Description</b> {{ pokemon.description }}</p>
      {% endif %}
      <!--<div class="horizontal-line"><hr></div>-->
    </div>
  {% endfor %}
{% endblock %}
