{% extends 'stally/base.html' %}

{% block pagetitle %}
  NPCs in {{ campaign.name }} - Dallys RGPs
{% endblock %}

{% block content %}
  {% if campaign.npcs.all %}
    <div class="page-title">
      <h1>NPCs in {{ campaign.name }}</h1>
    </div>

    {% for character in campaign.npcs.all  %}
      <div class="character">
        <img class="character-img" src="{{ character.image.url }}" alt="{{ Character.name }} image">
        <h3>{{ character.name }}</h3>
        {% if character.cclass %}
          <div class="kind">
            <p>{{ character.cclass }}</p>
          </div>
        {% endif %}
        {% if character.pronouns %}
          <p><b>Pronouns:</b> {{ character.pronouns }}</p>
        {% endif %}
        {% if character.description %}
          <p><b>Description:</b> {{ character.description }}</p>
        {% endif %}

        {% if character.pokemons.all %}
          <a href="{% url 'character_pokemon_list' pk=character.pk %}" class="pokemon-link link">Pokémon</a>
        {% endif %}
        <!--<div class="horizontal-line"><hr></div>-->
      </div>
    {% endfor %}
  {% endif %}

  {% if campaign.npc_pokemon.all %}
    <div class="page-title">
      <h1>NPC Pokémon in {{ campaign.name }}</h1>
    </div>

    {% for pokemon in campaign.npc_pokemon.all  %}
      <div class="pokemon">
        <img class="pokemon-img" src="{{ pokemon.image.url }}" alt="{{ pokemon.name }} image">
        <h3>{{ pokemon.name }}</h3>
        {% include 'stally/_pokemon_attributes.html' %}
        <!--<div class="horizontal-line"><hr></div>-->
      </div>
    {% endfor %}
  {% endif %}

{% endblock %}
