{% extends 'stally/base.html' %}

{% block pagetitle %}
  NPCs in {{ campaign.name }} - Dallys RGPs
{% endblock %}

{% block content %}
  {% if campaign.npcs.all %}
    <div class="page-title">
      <h1>NPCs in <a href="{% url 'campaign_detail' pk=campaign.pk %}">{{ campaign.name }}</a></h1>
    </div>

    {% for character in campaign.npcs.all  %}
      <div class="content-box-medium indent-medium">
        {% if not character.image.url == "/media/images/no-img.jpg" %}
          <img class="portrait portrait-small" src="{{ character.image.url }}" alt="{{ Character.name }} image">
        {% endif %}
        <h3><a href="{% url 'character_detail' pk=character.pk %}">{{ character.name }}</a></h3>
        {% if character.cclass %}
          <div class="class-text">
            <p>{{ character.cclass }}</p>
          </div>
        {% endif %}
        {% if character.pronouns %}
          <p><b>Pronouns:</b> {{ character.pronouns }}</p>
        {% endif %}
        {% if character.description %}
          <p><b>Description:</b> {{ character.description|linebreaksbr }}</p>
        {% endif %}

        {% if character.pokemons.all %}
          <a href="{% url 'character_pokemon_list' pk=character.pk %}" class="pokemon-link link">Pokémon</a>
        {% endif %}
        <!--<div class="horizontal-line"><hr></div>-->
      </div>
    {% endfor %}
  {% endif %}

  {% if campaign.npc_pokemon.all %}
    <div class="page-title">
      <h1>NPC Pokémon in <a href="{% url 'campaign_detail' pk=campaign.pk %}">{{ campaign.name }}</a></h1>
    </div>

    {% for pokemon in campaign.npc_pokemon.all  %}
      <div class="content-box-medium indent-small">
        {% if not pokemon.image.url == "/media/images/no-img.jpg" %}
          <img class="portrait portrait-small" src="{{ pokemon.image.url }}" alt="{{ pokemon.name }} image">
        {% endif %}
        <h3><a href="{% url 'pokemon_detail' pk=pokemon.pk %}">{{ pokemon.name }}</a></h3>
        {% include 'stally/_pokemon_attributes.html' %}
        <!--<div class="horizontal-line"><hr></div>-->
      </div>
    {% endfor %}
  {% endif %}

{% endblock %}
