{% extends 'stally/base.html' %}

{% block pagetitle %}
  {{ campaign.name }} - Dallys RGPs
{% endblock %}


{# Campagin description #}
{% block content %}
  <div class="content-box-medium">
    <h1>{{ campaign.name }}</h1>
    <div class="date">
      <p><b>Started on:</b> {{ campaign.start_date }}</p>
    </div>
    <img class="portrait portrait-large" src="{{ campaign.image.url }}" alt="{{ campaign.name }} image">
    {% include 'stally/_campaign_attributes.html' %}
    <a href="{% url 'campaign_character_list' pk=campaign.pk %}" class="characters-link link">Characters</a>
    {% if campaign.pokemons.all %}
      <i>, </i><a href="{% url 'campaign_pokemon_list' pk=campaign.pk %}" class="pokemon-link link">Player Pokémon</a>
    {% endif %}
    {% if campaign.npcs.all or campaign.npc_pokemon.all %}
      <i>, </i><a href="{% url 'campaign_npc_list' pk=campaign.pk %}" class="npc-link link">NPCs</a>
    {% endif %}
  </div>

  {# Character list #}
  <div class="title-small">
    <h1><a href="{% url 'campaign_character_list' pk=campaign.pk %}" class="">Characters in {{ campaign.name }}</a></h1>
  </div>

  {% for character in campaign.characters_without_pokemon.all  %}
    <div class="content-box-medium indent-medium">
      {% if not character.image.url == "/media/images/no-img.jpg" %}
        <img class="portrait portrait-small" src="{{ character.image.url }}" alt="{{ Character.name }} image">
        {% endif %}
      <h3><a href="{% url 'character_detail' pk=character.pk %}">{{ character.name }}</a></h3>
      {% include 'stally/_character_attributes.html' %}
      {% if character.pokemons.all %}
        <a href="{% url 'character_pokemon_list' pk=character.pk %}" class="pokemon-link link">Pokémon</a>
      {% endif %}
      <!--<div class="horizontal-line"><hr></div>-->
    </div>
  {% endfor %}

  {# Pokemon list (if present) #}
  {% if campaign.pc_pokemon.all %}
    <div class="page-title">
      <h1><a href="{% url 'campaign_pokemon_list' pk=campaign.pk %}" class="">Pokémon in {{ campaign.name }}</a></h1>
    </div>

    {% for pokemon in campaign.pc_pokemon.all  %}
      <div class="content-box-medium indent-medium">
        {% if not pokemon.image.url == "/media/images/no-img.jpg" %}
          <img class="portrait portrait-small" src="{{ pokemon.image.url }}" alt="{{ pokemon.name }} image">
        {% endif %}
        <h3><a href="{% url 'pokemon_detail' pk=pokemon.pk %}">{{ pokemon.name }}</a></h3>
        {% include 'stally/_pokemon_attributes.html' %}
        <!--<div class="horizontal-line"><hr></div>-->
      </div>
    {% endfor %}
  {% endif %}

  {# NPC list (if present) #}
  {% if campaign.npcs.all %}
    <div class="page-title">
      <h1><a href="{% url 'campaign_npc_list' pk=campaign.pk %}" class="">NPCs in {{ campaign.name }}</a></h1>
    </div>

    {% for character in campaign.npcs.all  %}
      <div class="content-box-medium indent-medium">
        {% if not character.image.url == "/media/images/no-img.jpg" %}
          <img class="portrait portrait-small" src="{{ character.image.url }}" alt="{{ Character.name }} image">
        {% endif %}
        <h3><a href="{% url 'character_detail' pk=character.pk %}">{{ character.name }}</a></h3>
        {% include 'stally/_character_attributes.html' %}
        {% if character.pokemons.all %}
          <a href="{% url 'character_pokemon_list' pk=character.pk %}" class="pokemon-link link">Pokémon</a>
        {% endif %}
        <!--<div class="horizontal-line"><hr></div>-->
      </div>
    {% endfor %}
  {% endif %}

  {# NPC Pokemon (if present) #}
  {% if campaign.npc_pokemon.all %}
    <div class="page-title">
      <h1><a href="{% url 'campaign_npc_list' pk=campaign.pk %}" class="">NPC Pokémon in {{ campaign.name }}</a></h1>
    </div>

    {% for pokemon in campaign.npc_pokemon.all  %}
      <div class="content-box-medium indent-medium">
        {% if not pokemon.image.url == "/media/images/no-img.jpg" %}
          <img class="portrait portrait-small" src="{{ pokemon.image.url }}" alt="{{ pokemon.name }} image">
        {% endif %}
        <h3><a href="{% url 'pokemon_detail' pk=pokemon.pk %}">{{ pokemon.name }}</a></h3>
        {% include 'stally/_pokemon_attributes.html' %}
        <!--<div class="horizontal-line"><hr></div>-->
      </div>
    {% endfor %}
  {% endif %}

{% endblock %}
