{% extends 'stally/base.html' %}

{% block content %}
  <div class="page-title">
    <h1>Characters in {{ campaign.name }}</h1>
  </div>

  {% for character in characters  %}
    <div class="character">
      <img class="character-img" src="{{ character.image.url }}" alt="{{ Character.name }} image">
      <h3>{{ character.name }}</h3>
      {% if character.cclass %}
        <div class="kind">
          <p>{{ character.cclass }}</p>
        </div>
      {% endif %}
      <p><b>Player:</b> {{ character.player.name }}</p>
      {% if character.pronouns %}
        <p><b>Pronouns:</b> {{ character.pronouns }}</p>
      {% endif %}
      {% if character.description %}
        <p><b>Description:</b> {{ character.description }}</p>
      {% endif %}
      {% if character.pokemons.all %}
        <a href="{% url 'character_pokemon_list' pk=character.pk %}" class="pokemon-link link">Pokémon</a>
      {% endif %}
      <!--<div class="horizontal-line"><hr></div>-->
    </div>
  {% endfor %}
{% endblock %}
