{% extends 'stally/base.html' %}

{% block content %}
  <div class="page-title">
    <h1>{{ character.name }}s Pokémon</h1>
  </div>

  {% for pokemon in pokemons  %}
    <div class="pokemon">
      <img class="pokemon-img" src="{{ pokemon.image.url }}" alt="{{ pokemon.name }} image">
      <h3>{{ pokemon.name }}</h3>
      <p>{{ pokemon.kind }}</p>
      <!--<p>Player: {{ pokemon.player.name }}</p>-->
      <p><b>Type:</b> {{ pokemon.type_p }}</p>
      {% if pokemon.pronouns %}
        <p><b>Pronouns:</b> {{ pokemon.pronouns }}</p>
      {% endif %}
      {% if pokemon.description %}
        <p><b>Description:</b> {{ pokemon.description }}</p>
      {% endif %}
    </div>
  {% endfor %}
{% endblock %}
