{% extends 'stally/base.html' %}

{% block pagetitle %}
  {{ character.name }} - Dallys RGPs
{% endblock %}

{% block content %}
  <div class="character">
    <img class="character-img" src="{{ character.image.url }}" alt="{{ Character.name }} image">
    <h1>{{ character.name }}</h1>
    {% include 'stally/_character_attributes.html' %}
    {% if character.pokemons.all %}
      <a href="{% url 'character_pokemon_list' pk=character.pk %}" class="pokemon-link link">Pokémon</a>
    {% endif %}
  </div>
{% endblock %}
