{% extends 'stally/base.html' %}

{% block pagetitle %}
  Contributor guidelines
{% endblock %}

{% block content %}
  <h1>Contributor guidelines</h1>
  <p>First of all, thank you so much for willing to help fill this database.
    I want to stress that whatever little you can do to add and improve the
    information about the many RPs that are represented by MWM, would be of
    great help.
    The guidelines are merely here to give you an idea about where you could
    put what information and how a description could look like.
  </p>

  <h2>Campaigns</h2>
  <p></p>
{% endblock %}
