{% extends 'stally/base.html' %}

{% block pagetitle %}
  NPCs in {{ campaign.name }} - Dallys RGPs
{% endblock %}

{% block content %}
  {% if campaign.npcs.all %}
    <div class="page-title">
      <h1>NPCs in <a href="{% url 'campaign_detail' pk=campaign.pk %}">
          {{ campaign.name }}</a></h1>
    </div>

    {% for character in campaign.npcs.all  %}
      {% include 'stally/_character_attributes.html' %}
    {% endfor %}
  {% endif %}

  {% if campaign.npc_pokemon.all %}
    <div class="page-title">
      <h1>NPC Pokémon in <a href="{% url 'campaign_detail' pk=campaign.pk %}">
          {{ campaign.name }}</a></h1>
    </div>

    {% for pokemon in campaign.npc_pokemon.all  %}
      <div class="row content-box-medium">
        <h3><a href="{% url 'pokemon_detail' pk=pokemon.pk %}">
            {{ pokemon.name }}</a></h3>
        {% include 'stally/_pokemon_attributes.html' %}
      </div>
    {% endfor %}
  {% endif %}

{% endblock %}
